<!DOCTYPE html>
<html>

<head>
  <title>Old Cat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Old Cat</h1>
  <img src="https://www.marthastewart.com/thmb/nUAHhIzFbIWHLwLOpvKNRxPaZas=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/flossie-oldest-cat-guiness-world-record-single-1122-ab5b0ba491594157983dc293b5e1c940.jpg" alt="Old Cat Image">
  <p>This old cat is wise and loves to relax. If you're looking for a calm and gentle companion, an old cat might be a wonderful choice for you.</p>
  <h2>Adoption Suggestions</h2>
  <ul>
    <li><a href="https://www.rla.org.il/eng/adopt-a-pet/cats-for-adoption">Adoption Site 1</a></li>
  </ul>
</body>

</html>

