<!DOCTYPE html>
<html>

<head>
  <title>Old Cat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Old Cat</h1>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.marthastewart.com%2F8343054%2Foldest-cat-world-guinness-book-of-records&psig=AOvVaw37p4uvN-psunS2pChFSWYC&ust=1690483891553000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKD-grCFrYADFQAAAAAdAAAAABAU" alt="Old Cat Image">
  <p>This old cat is wise and loves to relax. If you're looking for a calm and gentle companion, an old cat might be a wonderful choice for you.</p>
  <h2>Adoption Suggestions</h2>
  <ul>
    <li><a href="https://www.rla.org.il/eng/adopt-a-pet/cats-for-adoption">Adoption Site 1</a></li>
  </ul>
</body>

</html>

