<!DOCTYPE html>
<html>

<head>
  <title>Young Cat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Young Cat</h1>
  <img src="https://thumbs.dreamstime.com/b/thin-adult-tabby-cat-isolated-white-background-42058341.jpg" alt="Young Cat Image">
  <p>This young cat is full of energy and playfulness. If you're looking for a lively and curious companion, a young cat might be the perfect addition to your home.</p>
  <h2>Adoption Suggestions</h2>
  <ul>
    <li><a href="https://www.rla.org.il/eng/adopt-a-pet/cats-for-adoption">Adoption Site 1</a></li>
  </ul>
</body>

</html>
