<!DOCTYPE html>
<html>

<head>
  <title>Young Cat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Young Cat</h1>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fcat-spring&psig=AOvVaw3M0auA4bcFkXM1-VyhrR6N&ust=1690483850570000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJD7nJ-FrYADFQAAAAAdAAAAABAE" alt="Young Cat Image">
  <p>This young cat is full of energy and playfulness. If you're looking for a lively and curious companion, a young cat might be the perfect addition to your home.</p>
  <h2>Adoption Suggestions</h2>
  <ul>
    <li><a href="https://www.rla.org.il/eng/adopt-a-pet/cats-for-adoption">Adoption Site 1</a></li>
  </ul>
</body>

</html>
