body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1 {
  color: #336699;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #336699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
